{% extends "Authorisation/base.html" %}

{% block form %}
    <div>
        <label for="username"><p class="form-group"> Введите логин </p></label>
        <input class="form-group" id="username" name="username"  />

        <label for="password"><p class="form-group"> Введите пароль </p></label>
        <input class="form-group" type="password" id="password" name="password"  />
    </div>
{% endblock %}


{% block button %}
<!--кнопка входа-->
    <button type="submit"
            style="border-radius: 40px; background: #404040; color: #ffffff; border: 1px solid;
                   cursor:pointer; width: 100%; margin: 50px 0 5px 0;
    ">
        <p style="margin: 10;"> Войти </p>
    </button>
<!--кнопка регистрации-->
    <a href="registration/" style="margin: 5px 0 10px 0">
        <button type="button"
                style="border-radius: 40px; background: #ffffff; border: 1px solid;
                       cursor:pointer; width: 100%;
        ">
            <p style="margin: 10;"> Зарегистрироваться </p>
        </button>
    </a>
{% endblock %}